.color-red {
    background-color: red;
}
.color-blue {
    background-color: blue;
}
.color-green {
    background-color: green;
}
.color-orange {
    background-color: orange;
}
.color-purple {
    background-color: purple;
}
.color-yellow {
    background-color: yellow;
}
.color-white {
    background-color: white;
}
.color-cyan {
    background-color: cyan;
}
