.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

ul.App-list {
    text-align: left;
    background-color: #ffffff;
    color: black;
}

.column {
    float: centre;
    width: 50%;
    height: 100px;
    background-color: red;
}

.App-header {
    width: 100%;
    background-color: #a75d9d;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: black;
}

.App-rect {
    background-color: red;
    padding: 20px;
    width: 120%;
    height: 300%;
}

.App-Rows {
    width: 100% back;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
